.omniabasecomponent-card {
  border-radius: 25px;
}

.omniabasecomponent-card-border-top {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.omniabasecomponent-card-border-bottom {
  border-bottom-left-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}
